<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue入门</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model.number="firstNum">+<input type="text" v-model.number="lastNum"><br>
    <input type="text" v-model="sum">
</div>

<div id="app1">
    <input type="text" v-model="name">
    <ul>
        <li v-for="cat in cats">{{cat.name}}</li>
    </ul>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            firstNum: null,
            lastNum: null,
        },
        computed: {
            sum: {
                get() { // get中涉及的值发生改变，则sum值就改变
                    return this.firstNum + this.lastNum;
                },
                set(val) { // set监听属性值的改变
                    //如果sum值变了，firstNum和lastNum也改变成sum值的一半
                    var avg = val / 2;
                    this.firstNum = avg;
                    this.lastNum = avg;
                    console.log(val);
                }
            }
        }
    });

    var app1 = new Vue({
        el: '#app1',
        data(){
            return {
                name: 'my test',
                cats: [
                    {name: 'zhanggsan', age: 11},
                    {name: 'lisi', age: 4},
                    {name: 'wangwu', age: 6},
                    {name: 'tanhuilei', age: 12},
                    {name: 'wuyuxiang', age: 19}
                ]

            }
        },
        computed: {
            oldCats(){
                return this.cats.filter(v = > {
                        return v.age > 10;
            })
            }
        }
    });

</script>
</body>
</html>